APP_CONFIG_PATH=
VISION_VLM_PROFILE=
QUERY_VLM_PROFILE=

OPENAI_API_KEY=
MINIMAX_KEY=
OLLAMA_API_KEY=ollama
DASHSCOPE_API_KEY=

IMAGE_LIBRARY_DIR=
SQLITE_DB_PATH=
EMBEDDING_BACKEND=
EMBEDDING_DEVICE=
PROCESS_IMAGE_WIDTH=
